body{
    text-align:center;
    background:#ff9933;
    font-family: sans-serif;
}
h1{
    text-align:left;
    font-family:"Do Hyeon";
    color: white;
    text-shadow: 1px 1px black;
}
input{
    width: 500px;
    height:20px;
    
}