body{
    text-align:center;
    background-image: url("../images/texture.jpg");
    font-family: sans-serif;
}
h1{
    text-align:left;
    font-family:"Ubuntu";
    color: white;
    text-shadow: 1px 1px black;
}
input{
    width: 500px;
    height:20px;
    box-shadow: 1px 1px grey;
    
}
h4{
    text-align:left;
    color:white;
    font-family: "Times New Roman";
}
h5{
    text-align: left;
    color: white;
}
button{
    color: black;
    box-shadow: 1px 1px;
    background-color: white;
    font-weight: bold;
    font-family:"Do Hyeon";
}